body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: serif;
  color: ##f7fbe1;
}

footer {
  background-color: #9dc6a7;
}

a {
  color: #204051;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover {
  color: white;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Schoolbell';
  font-size: 4rem;
  color: #1fab89;
  line-height: 200%;
}

h2 {
  margin-top: 0;
  color: #2fc4b2;
  padding: 30px 0 0 0;
  font-family: sans-serif;
}

h3 {
  color: #2fc4b2;
  margin: 0 auto 40px auto;
}

h4 {
  color: #84a9ac;
  }

hr {

  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 4%;
  margin: auto;
}

p {
  max-width: 75ch;
  margin: auto;
  padding: 30px 0;
  font-size: 1rem;
  line-height: 1.5;
}

/** DIVS principais **/
.top-container {
  background-color: #f7fbe1;
  position: relative;
}

.middle-container {
  background-color: #f7fbe1;
  margin: 0;
  position: relative;
}

.bottom-container {
  background-color: #f7fbe1;
  margin: 0;
}

/** DIVs Secundarios **/
.profile {
  background-color: #9dc6a7;
}

.skills {
  position: relative;
}

.skillrow {
  background-color: #f7fbe1;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 50px;
}
.footer {
  background-color: #d1f5d3;
  padding-top: 20px;
}
/** IMAGENS **/

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  right: 35%;
  top: 20px;
}

.profile-pic1 {
  
  border-radius: 25%;

}
.plane1 {
  height: 50px;
  width: 50px;
  position: relative;
  bottom: 320px;
  left: 100px;
}
.mountain {
  position: relative;
  height: 300px;
  left: 20px;
}

.skills-pic {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}
.skills-pic1 {
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}

/** BTN **/

.myButton {
	margin-bottom: 40px;
	background-color:#44c767;
	border-radius:28px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:13px 20px;
	text-decoration:none;
	text-shadow: 0 1px 0 #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

/** OUTROS **/

.boldP {
  font-size: 1.3rem;
  padding: 0 0 70px 0;
  color: #1fab89;
}
.p-skill {
  margin:0;
}
.footer-p {
  padding: 10px 0;
}
.copyright {
  color: #15b7b9;
  font-size: 0.75rem;
  padding: 10px 0;
}
